#content {
  overflow: hidden;
  height: 520px;
}

#searchResult_top {
  height: 30px;
  width: 100%;
}

#searchResults {
  width: calc(100% - 10px);
  min-height: 520px;
  padding-left: 10px; /* The right side is the scrollbar */
}

.searchResult-anime {
  height: 96px;
  background: transparent;
  padding: 8px 0;
  width: 100%;
}

.searchResult-anime .searchResult-anime-image {
  width: 50px;
  height: auto;
  max-height: 80px;
  padding: 0 8px;
  float: left;
}

.searchResult-anime .searchResult-anime-image img {
  width: 100%;
  height: auto;
  max-height: 80px;
}

.searchResult-anime .searchResult-anime-info {
  float: right;
  width: calc(100% - 66px); /*290 - 50 - 8*2 */
}

.searchResult-anime .searchResult-anime-title {
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: width(100% - 66px);
}

.searchResult-anime .searchResult-anime-status {
  
}